project/__pycache__/dummy_data.cpython-310.pyc
project/main_no_color.py
__pycache__/t.cpython-310.pyc
t.py
project/data/user_info.csv
project/data/main_data.csv
project/g.py
project/__pycache__/project.cpython-310.pyc
data.csv
cc.py
